.movie img {
  height: 350px;
  width: 320px;
}

.movie {
  margin-bottom: 20px;
}
.movie {
  position: relative;
  transition: transform 0.1s;
  width: auto;
}

.movie:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.movie:hover .overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  width: 93%;
  left: 10px;
  height: 100px;
  transition: 0.5 ease;
  opacity: 0;
  bottom: 0;
  font-size: 20px;
  padding: 2px;
  text-align: center;
}
