@import "~antd/dist/antd.css";

.code-box-demo {
  text-align: center;
}
.ant-layout-header {
  background: white;
  text-align: center;
}
[data-theme="dark"] .ant-layout-header {
  background: #6aa0c7;
}
[data-theme="dark"] .ant-layout-footer {
  background: #6aa0c7;
}
.ant-layout-footer {
  line-height: 1.5;
}
.ant-layout-sider {
  color: #fff;
  line-height: 700px;
  background: white;
}
[data-theme="dark"] .ant-layout-sider {
  background: #af3030;
}
.ant-layout-content {
  min-height: 700px;
  color: #fff;
  line-height: 120px;
  background: white;
}
[data-theme="dark"] .ant-layout-content {
  background: #0b0c0c;
}
.code-box-demo > .ant-layout + .ant-layout {
  margin-top: 48px;
}

.movieList {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.favs-span {
  color: orange;
  padding: 30px 60px;
  font-size: 20px;
  transition: all 0.1s;
}

.favs-span:hover {
  transition: all 0.8ms;
  color: yellow;
  font-size: 21px;
}

.favs-span-add {
  color: #ff00dd;
  font-size: 21px;
}
